<div id="page-top">
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Criterion Of Emotion</div>
        <%= link_to image_tag("logos/gauge.png"), "#features", {class:"js-scroll-trigger"}%>
      </div>
    </div>
  </header>
  <!-- features -->
  <section id="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Features</h2>
          <h3 class="section-subheading text-muted">How to enjoy the game to its fullest</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="service-heading">Adapt</h2>
          <p class="text-muted">Alter your character to suit your playstyle. With our diverse and customizable skill tree, and randomly generated equipment, you are ready to handle any situation.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="service-heading">Explore</h2>
          <p class="text-muted">Immerse yourself into the world of Criterion. Our constantly changing, randomly generated dungeons allow for a perfect balance of replayability and challenge. You never know what may lie ahead...</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="service-heading">Eradicate</h2>
          <p class="text-muted">Utilize your emotions to decimate all who oppose you. Follow the gauge to keep yourself aware, finding the perfect moment to engage and overcome Criterion.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio Grid -->
  <section class="bg-light" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Wiki Links</h2>
          <h3 class="section-subheading text-muted">Learn all about game specific content down below</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <%= image_tag "/assets/portfolio/01-thumbnail.jpg", class:"img-fluid" %>
          </a>
          <div class="portfolio-caption">
            <h4>Player</h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <%= image_tag "/assets/portfolio/02-thumbnail.jpg", class:"img-fluid" %>
          </a>
          <div class="portfolio-caption">
            <h4>Enemies</h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <%= image_tag "/assets/portfolio/03-thumbnail.jpg", class:"img-fluid" %>
          </a>
          <div class="portfolio-caption">
            <h4>Bosses</h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <%= image_tag "/assets/portfolio/04-thumbnail.jpg", class:"img-fluid" %>
          </a>
          <div class="portfolio-caption">
            <h4>Items</h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <%= image_tag "/assets/portfolio/05-thumbnail.jpg", class:"img-fluid" %>
          </a>
          <div class="portfolio-caption">
            <h4>Areas</h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <%= image_tag "/assets/portfolio/06-thumbnail.jpg", class:"img-fluid" %>
          </a>
          <div class="portfolio-caption">
            <h4>A*</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Team -->
  <section class="bg-light" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Development Team</h2>
          <h3 class="section-subheading text-muted">This project would not have been possible without:</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <%= image_tag "/assets/team/1.jpg", class:"mx-auto rounded-circle"%>
            <h4>Auguste Valley</h4>
            <p class="text-muted">Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <%= image_tag "/assets/team/2.jpg", class:"mx-auto rounded-circle"%>
            <h4>Damon Foster</h4>
            <p class="text-muted">Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <%= image_tag "/assets/team/3.jpg", class:"mx-auto rounded-circle"%>
            <h4>Hayden Smith</h4>
            <p class="text-muted">Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <%= image_tag "/assets/team/4.jpg", class:"mx-auto rounded-circle"%>
            <h4>Liam Stelmach</h4>
            <p class="text-muted">Artist</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <%= image_tag "/assets/team/5.jpg", class:"mx-auto rounded-circle"%>
            <h4>Jonathan Dalbec</h4>
            <p class="text-muted">Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <%= image_tag "/assets/team/6.jpg", class:"mx-auto rounded-circle"%>
            <h4>Jacob Veber</h4>
            <p class="text-muted">Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Download -->
  <section id="download">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Download</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          
        </div>
      </div>
    </div>
  </section>



</div>
